.footer {
    background-color: var(--footer-blue);
    color: var(--footer-text);
    padding: 20px;
    font-size: 0.9rem;
    width: 100%;
    margin-top: 20px;
}

.footer__section {
    margin-bottom: 20px;
}

.footer__header {
    display: flex;
    margin-bottom: 20px;
    margin-left: -15px;
}

.footer__header-title {
    color: var(--white-text);
}

.footer__title {
    font-family: "Frank Ruhl Libre";
    font-size: var(--body-2);
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 15px;
}

.footer__link {
    color: var(--footer-text);
    font-size: var(--small-text-fowhite-oter);
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.footer__menu,
.footer__about {
    padding: 0;
    margin: 0;
}

.footer__menu-item,
.footer__about-item {
    margin-bottom: 10px;
    list-style: none;
    font-family: "Frank Ruhl Libre";
    font-size: var(--small-text-fowhite-oter);
}

.footer__menu-item a,
.footer__about-item a {
    font-family: "Frank Ruhl Libre";
    font-size: var(--small-text-fowhite-oter);
    color: var(--footer-text);
    text-decoration: none;
}

.footer__legal-title {
    font-size: var(--small-text-fowhite-oter);
    margin-bottom: 10px;

}

.footer__legal-text {
    margin-bottom: 10px;
    color: var(--footer-text);
    font-size: var(--small-text-fowhite-oter);
    font-family: "Frank Ruhl Libre";
    font-weight: 700;
    line-height: 160%;
}

.footer__credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.footer__credits-item {
    font-size: var(--small-text-fowhite-oter);
}

.footer__legal-text ::after {
    content: "";
    display: block;
    background-color: var(--white-text);
    width: 100%;
    height: 1.5px;
    margin-top: 10px;
    padding: 0px;
}
