.card {
    text-align: left;
}

.card__title {
    font-family: Cinzel;
    font-size: var(--h3);
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    padding: 20px 15px 30px 15px;
}

.card__description {
    font-family: "Frank Ruhl Libre";
    font-size: var(--body-2);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 0px 15px 0px 15px;
}

.card__button {
    color: var(--white-text);
    font-family: "Frank Ruhl Libre";
    font-size: var(--small-text);
    font-weight: 700;
    padding: 0px 15px 15px 15px;
}