img {
  max-width: 100%;
  height: auto;
}

.carrousel{
  width: 100%;
} 

.carrousel__controls {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 16px 0px 16px;
}

.carrousel__button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

.carrousel__container {
  display: flex; 
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carrousel__item { 
  margin-left: 12px;
  flex: 0 0 80%;
  scroll-snap-align: center; 
}

.carrousel__item .card {
  display: block;
}

.card{
  width: 90%;
}

.section__title--discover_carrousel {
  color: var(--white-text);
  font-family: var(--Cinzel);
  font-size: var(--h3);
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin: 20px;
  margin-top: 30px;
}